{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<style>
    .reg{
        display: flex;
        justify-content: center;
    }
</style>
<h2 style="justify-content: center; display:flex; margin-bottom:50px;">Sign up</h2>
<div class="reg">
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <p> Don't have an account? Create one <a href='{%url 'register'%}'>Sign in</a></p>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>
{% endblock content %}