{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    .addpo{
        display: flex;
        flex-direction: column;
        margin-left: 30%;
    }
</style>
<div class="addpo">
    {% if user.is_authenticated %}
        <h1>Add Post...</h1>
        <br/><br/>

        <div class="form-group">
    <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-success">Post</button>
                </form>
        </div>


    {% else %}
    
    {% block body %}
       <h4> You're not allowed here! because you are not registered</h4>
    {% endblock body %}
    {% endif %}
</div>

{% endblock content %}
