{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
<style>
    a{
        text-decoration: none;
        color: #f78e21;
    }
    .addpo{
        display: flex;
        flex-direction: column;
        margin-left: 30%;
    }
</style>
<div class="addpo">
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h2> Delete : {{ post.title }}</h2>
            <br/><br/>

            <div class="form-group">
        <form method="POST">
                    {% csrf_token %}
                    <strong>Are you sure?!</strong><br/><br/>
                    <button class="btn btn-danger">Delete Post!</button>

            </div>
        {% else %}

               <h4> You're not allowed here! because you are not the person who upload this post</h4>    
        {% endif %}
    {% else %}
       <h4> You're not allowed here! because you are not registered</h4>
    {% endif %}
</div>

{% endblock content %}
