{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
<style>
    a{
        text-decoration: none;
        color: #f78e21;
    }
    .addpo{
        display: flex;
        flex-direction: column;
        margin-left: 30%;
    }
</style>
<div class="addpo">
    {% if user.is_authenticated %}

            <h1>Edit Post...</h1>
            <br/><br/>

            <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form|crispy}}
                    <br>
                    <button class="btn btn-secondary btn-lg">Save</button>
                    </form>
            </div>

        
    {% else %}
    
    {% block body %}
       <h4> You're not allowed here! because you are not registered</h4>
    {% endblock body %}
    {% endif %}
</div>

{% endblock content %}
